body {
    font-family: "Open Sans", sans-serif;
}

.navbar img {
    width: 10%;
}

.navbar a {
    color: white;
}

.tooltip-inner {
    background-color: gray;
}

.card i {
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 2.3em;
    height: 1.3em;
}

.card-text {
    text-align: justify
}

.quienes-somos {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0px;
}

.quienes-somos .card {
    width: 23rem;
}

.quienes-somos .card-body {
    padding: 0%;
}

.quienes-somos p {
    font-size: 0.8em;
}

.quienes-somos i {
    text-align: center;
    padding: 4px;
}

.destacados {
    text-align: center;
    padding: 30px 0px;
}

.destacados .row {
    display: flex;
    justify-content: space-around;

}

.destacados .card {
    padding: 0px;
    width: 16.4rem;
}

main {
    background-color: black;
    color: white;
}

form {
    margin-top: 20px;
    padding: 30px 0px;

}

form h3 {
    text-align: center;
}

form .boton_enviar {
    color: rgb(0, 183, 255);
}

h1,
h2,
h3 {
    border-bottom: solid rgb(104, 103, 103) 1px;
    margin-bottom: 20px;
    font-size: 30px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 5em;
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 1.3em;

}

.container {
    padding: 30px 0px;
}

footer i {
    background-color: white;
    color: rgb(0, 183, 255);
    margin-right: 10px;
    padding: 2px;
}

@media (max-width: 380px) {

    .destacados,
    form {
        padding: 0px 20px;
    }

    .destacados .card {
        margin-bottom: 20px;

    }
}

.navWhite {
    background-color: rgb(114, 113, 113);
}

.navTransparent {
    background-color: rgba(0, 0, 0, 0);
}